[submodule "cmake-common"]
	path = cmake-common
	url = https://github.com/SacBase/cmake-common.git
[submodule "src/algorithms/cccl"]
	path = src/algorithms/cccl
	url = https://github.com/NVIDIA/cccl/
